In [1]:
#Make sure to install xlrd 1.2:   pip install xlrd==1.2.0
import xlrd
import pandas as pd
import numpy as np
from scipy import stats
from random import randrange
import random
import matplotlib.pyplot as plt
import matplotlib.ticker as tck
import matplotlib.mlab as mlab
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
import seaborn as sns

In [2]:
file = ('/Users/alfaro/Documents/pythoncode/master/metodoscuantitativos/Week7StockPriceData.xlsx')
file2 = ('/Users/alfaro/Documents/pythoncode/master/metodoscuantitativos/Week7ImpliedVolatilityData.xlsx')

In [3]:
df17 = pd.read_excel(file, sheet_name='2017').dropna(how='all')
df18 = pd.read_excel(file, sheet_name='2018').dropna(how='all')
df19 = pd.read_excel(file, sheet_name='2019').dropna(how='all')

In [70]:
df17['Amazon'].std()

106.58020815571126

In [96]:
df17_2 = pd.read_excel(file2, sheet_name='2017').dropna(how='all')
df18_2 = pd.read_excel(file2, sheet_name='2018').dropna(how='all')
df19_2 = pd.read_excel(file2, sheet_name='2019').dropna(how='all')

In [97]:
#Apple
df17_2

,Stock,quote_date,expiration,Exercise Price,option_type,Call Price,trade_volume,Stock Price,implied_volatility
0,AAPL,2017-02-03,2017-02-10,121.0,Call,8.04,144.0,128.91,0.32941
1,AAPL,2017-02-03,2017-02-10,126.0,Call,3.11,1267.0,128.91,0.19330
2,AAPL,2017-02-03,2017-02-17,121.0,Call,8.04,1565.0,128.91,0.05000
3,AAPL,2017-02-03,2017-02-17,129.0,Call,1.20,6083.0,128.91,0.14190
4,AAPL,2017-02-03,2017-02-24,128.0,Call,1.98,597.0,128.91,0.13820
5,AAPL,2017-02-03,2017-03-03,126.0,Call,3.20,68.0,128.91,0.14240
6,AAPL,2017-02-03,2017-03-17,120.0,Call,9.10,1047.0,128.91,0.16740
7,AAPL,2017-02-03,2017-04-21,130.0,Call,3.02,2938.0,128.91,0.15400
8,AAPL,2017-02-03,2017-06-16,110.0,Call,19.35,160.0,128.91,0.22220
9,AAPL,2017-02-03,2017-06-16,120.0,Call,11.10,402.0,128.91,0.19960
10,AAPL,2017-02-03,2017-06-16,125.0,Call,7.65,858.0,128.91,0.18950
11,AAPL,2017-02-03,2017-06-16,135.0,Call,2.88,840.0,128.91,0.17660
12,AAPL,2017-02-03,2017-11-17,105.0,Call,25.20,70.0,128.91,0.23980
13,AAPL,2017-02-03,2017-11-17,130.0,Call,8.92,253.0,128.91,0.21300
14,AAPL,2017-02-03,2017-11-17,135.0,Call,6.69,1301.0,128.91,0.20850
15,AMZN,2017-02-03,2018-01-19,900.0,Call,54.61,221.0,808.06,0.27820
16,AMZN,2017-02-03,2017-06-16,900.0,Call,17.70,208.0,808.06,0.24710
17,AMZN,2017-02-03,2017-02-24,812.5,Call,13.23,74.0,808.06,0.18930
18,AMZN,2017-02-03,2017-02-10,835.0,Call,1.38,955.0,808.06,0.20210
19,AMZN,2017-02-03,2017-02-17,770.0,Call,40.00,148.0,808.06,0.20280
20,AMZN,2017-02-03,2017-02-17,842.5,Call,2.81,159.0,808.06,0.20140
21,AMZN,2017-02-03,2017-02-24,815.0,Call,12.32,166.0,808.06,0.18900
22,AMZN,2017-02-03,2017-03-03,807.5,Call,18.40,73.0,808.06,0.19340
23,AMZN,2017-02-03,2017-03-03,812.5,Call,15.87,54.0,808.06,0.19430
24,AMZN,2017-02-03,2017-03-03,815.0,Call,15.00,92.0,808.06,0.19320
25,AMZN,2017-02-03,2017-03-17,875.0,Call,3.81,167.0,808.06,0.20530
26,AMZN,2017-02-03,2017-06-16,960.0,Call,8.10,159.0,808.06,0.24600
27,AMZN,2017-02-03,2017-06-16,1080.0,Call,1.70,142.0,808.06,0.25530
28,AMZN,2017-02-03,2018-01-19,830.0,Call,81.56,85.0,808.06,0.28870
29,AMZN,2017-02-03,2018-01-19,960.0,Call,37.49,78.0,808.06,0.27150
30,FMC,2017-02-03,2017-02-17,60.0,Call,1.93,16.0,60.39,0.36480
31,FMC,2017-02-03,2017-03-17,60.0,Call,2.60,2.0,60.39,0.28110
32,FMC,2017-02-03,2017-04-21,62.5,Call,1.96,10.0,60.39,0.25920
33,FMC,2017-02-03,2017-07-21,57.5,Call,6.00,2.0,60.39,0.26670
34,FMC,2017-02-03,2017-07-21,60.0,Call,4.50,1.0,60.39,0.27040
35,FMC,2017-02-03,2017-07-21,62.5,Call,3.20,1.0,60.39,0.26120
36,FMC,2017-02-03,2018-01-19,45.0,Call,16.64,5.0,60.39,0.32560

In [38]:
df18_AAPL_returns=pd.DataFrame({'returns' : []})

df18_FMC_returns=pd.DataFrame({'returns' : []})

In [73]:
df17_AAPL_returns=pd.DataFrame({'returns' : []})
df17_AMZ_returns=pd.DataFrame({'returns' : []})
df17_FMC_returns=pd.DataFrame({'returns' : []})
df17_SP500_returns=pd.DataFrame({'returns' : []})

In [81]:
df19_AMZ_returns=pd.DataFrame({'returns' : []})
df19_AAPL_returns=pd.DataFrame({'returns' : []})
df19_FMC_returns=pd.DataFrame({'returns' : []})
df19_SP500_returns=pd.DataFrame({'returns' : []})

In [49]:
for i in range(1, len(df18)):
    df18_AAPL_returns.loc[i,'returns']=(df18.loc[i,'Apple'] - df18.loc[i-1,'Apple'])/df18.loc[i-1,'Apple']
    df18_FMC_returns.loc[i,'returns']=(df18.loc[i,'FMC'] - df18.loc[i-1,'FMC'])/df18.loc[i-1,'FMC']

for i in range(1, len(df19)):
    df19_AMZ_returns.loc[i,'returns']=(df18.loc[i,'Amazon'] - df18.loc[i-1,'Amazon'])/df18.loc[i-1,'Amazon']

In [74]:
for i in range(1, len(df17)):
    df17_AAPL_returns.loc[i,'returns']=(df17.loc[i,'Apple'] - df17.loc[i-1,'Apple'])/df17.loc[i-1,'Apple']
    df17_FMC_returns.loc[i,'returns']=(df17.loc[i,'FMC'] - df17.loc[i-1,'FMC'])/df17.loc[i-1,'FMC']
    df17_AMZ_returns.loc[i,'returns']=(df17.loc[i,'Amazon'] - df17.loc[i-1,'Amazon'])/df17.loc[i-1,'Amazon']
    df17_SP500_returns.loc[i,'returns']=(df17.loc[i,'SP500'] - df17.loc[i-1,'SP500'])/df17.loc[i-1,'SP500']

In [83]:
df19

          Date        SP500        FMC       Apple       Amazon
0   2019-01-02  2510.030029  64.451950  156.049484  1539.130005
1   2019-01-03  2447.889893  62.674740  140.505798  1500.280029
2   2019-01-04  2531.939941  65.988770  146.503891  1575.390015
3   2019-01-07  2549.689941  66.761475  146.177811  1629.510010
4   2019-01-08  2574.409912  67.911949  148.964386  1656.579956
..         ...          ...        ...         ...          ...
176 2019-09-13  3007.389893  91.050003  218.750000  1839.339966
177 2019-09-16  2997.959961  91.089996  219.899994  1807.839966
178 2019-09-17  3005.699951  90.650002  220.699997  1822.550049
179 2019-09-18  3006.729980  90.879997  222.770004  1817.459961
180 2019-09-19  3006.790039  90.389999  220.960007  1821.500000

[181 rows x 5 columns]

In [84]:
for i in range(1, len(df19)):
    df19_AAPL_returns.loc[i,'returns']=(df19.loc[i,'Apple'] - df19.loc[i-1,'Apple'])/df19.loc[i-1,'Apple']
    df19_FMC_returns.loc[i,'returns']=(df19.loc[i,'FMC'] - df19.loc[i-1,'FMC'])/df19.loc[i-1,'FMC']
    df19_AMZ_returns.loc[i,'returns']=(df19.loc[i,'Amazon'] - df19.loc[i-1,'Amazon'])/df19.loc[i-1,'Amazon']
    df19_SP500_returns.loc[i,'returns']=(df19.loc[i,'SP500'] - df19.loc[i-1,'SP500'])/df19.loc[i-1,'SP500']

In [88]:
df19_AAPL_returns.std()

returns    0.018107
dtype: float64

In [91]:
len(df19_AAPL_returns)

180

In [7]:
#AAPL 2018
stddev = float(df18_AAPL_returns.std())
stddev

0.018106270725065935

In [8]:
mean = df18_AAPL_returns.mean()
mean

returns   -0.000129
dtype: float64

In [32]:
#df1_distance_to_std = df1[stock] / df1[stock].astype(float).std()
#pd.cut(df1_distance_to_std, np.arange(-4.5,5,0.5)).value_counts()
distance_to_std = df18_AAPL_returns / df18_AAPL_returns.astype(float).std()
distribution = pd.cut(distance_to_std['returns'],
      bins=[float(distance_to_std['returns'].min())-1,-3,-2,-1,0,1,2,3,float(distance_to_std['returns'].max())+1], 
                          labels=['1','2','3','4','5','6','7','8'])

In [33]:
#AAPL2018
distribution

1      4
2      5
3      5
4      4
5      4
      ..
246    3
247    8
248    4
249    5
250    5
Name: returns, Length: 250, dtype: category
Categories (8, object): ['1' < '2' < '3' < '4' < '5' < '6' < '7' < '8']

In [34]:
distribution.value_counts()

5    101
4     90
3     23
6     19
2      8
7      6
8      2
1      1
Name: returns, dtype: int64

In [41]:
#FMC 2018
stddevfmc = float(df18_FMC_returns.std())
meanfmc = df18_FMC_returns.mean()

In [42]:
distance_to_stdFMC = df18_FMC_returns / df18_FMC_returns.astype(float).std()
distributionFMC = pd.cut(distance_to_stdFMC['returns'],
      bins=[float(distance_to_stdFMC['returns'].min())-1,-3,-2,-1,0,1,2,3,float(distance_to_stdFMC['returns'].max())+1], 
                          labels=['1','2','3','4','5','6','7','8'])

In [43]:
distributionFMC

1      5
2      5
3      5
4      5
5      4
      ..
246    4
247    7
248    5
249    4
250    5
Name: returns, Length: 250, dtype: category
Categories (8, object): ['1' < '2' < '3' < '4' < '5' < '6' < '7' < '8']

In [44]:
distributionFMC.value_counts()

5    93
4    88
3    31
6    19
2    10
7     9
1     0
8     0
Name: returns, dtype: int64

In [50]:
#AMZ2019
stddevamz = float(df19_AMZ_returns.std())
meanamz = df19_AMZ_returns.mean()

In [53]:
distance_to_stdAMZ = df19_AMZ_returns / df19_AMZ_returns.astype(float).std()
distributionAMZ = pd.cut(distance_to_stdAMZ['returns'],
      bins=[float(distance_to_stdAMZ['returns'].min())-1,-3,-2,-1,0,1,2,3,float(distance_to_stdAMZ['returns'].max())+1], 
                          labels=['1','2','3','4','5','6','7','8'])

In [54]:
distributionAMZ

1      5
2      5
3      5
4      5
5      5
      ..
176    4
177    4
178    3
179    6
180    4
Name: returns, Length: 180, dtype: category
Categories (8, object): ['1' < '2' < '3' < '4' < '5' < '6' < '7' < '8']

In [55]:
distributionAMZ.value_counts()

5    84
4    46
6    22
3    15
7     7
2     5
1     1
8     0
Name: returns, dtype: int64

In [59]:
df19['Apple']

0      156.049484
1      140.505798
2      146.503891
3      146.177811
4      148.964386
          ...
176    218.750000
177    219.899994
178    220.699997
179    222.770004
180    220.960007
Name: Apple, Length: 181, dtype: float64

In [60]:
dfappl = pd.concat([df17['Apple'],df18['Apple'],df19['Apple']], ignore_index = True)
dfappl

0      112.140007
1      112.014503
2      112.584129
3      113.839249
4      114.881950
          ...
678    218.750000
679    219.899994
680    220.699997
681    222.770004
682    220.960007
Name: Apple, Length: 683, dtype: float64

In [61]:


df_appl_returns=pd.DataFrame({'returns' : []})

for i in range(1, len(dfappl)):
    df_appl_returns.loc[i,'returns']=(dfappl.loc[i] - dfappl.loc[i-1])/dfappl.loc[i-1]

In [62]:
df_appl_returns

      returns
1   -0.001119
2    0.005085
3    0.011148
4    0.009159
5    0.001009
..        ...
678 -0.019454
679  0.005257
680  0.003638
681  0.009379
682 -0.008125

[682 rows x 1 columns]

In [64]:
stddevappl = float(df_appl_returns.std())
meanappl = df_appl_returns.mean()

In [66]:
distance_to_stdAPPL= df_appl_returns / df_appl_returns.astype(float).std()
distributionAPPL = pd.cut(distance_to_stdAPPL['returns'],
      bins=[float(distance_to_stdAPPL['returns'].min())-1,-3,-2,-1,0,1,2,3,float(distance_to_stdAPPL['returns'].max())+1], 
                          labels=['1','2','3','4','5','6','7','8'])

In [67]:
distributionAPPL

1      4
2      5
3      5
4      5
5      5
      ..
678    3
679    5
680    5
681    5
682    4
Name: returns, Length: 682, dtype: category
Categories (8, object): ['1' < '2' < '3' < '4' < '5' < '6' < '7' < '8']

In [68]:
distributionAPPL.value_counts()

5    286
4    242
6     59
3     53
7     18
2     13
1      6
8      5
Name: returns, dtype: int64

In [134]:
#PART 3

#df17_2
df17_2[df17_2.Stock == 'AMZN']['implied_volatility']
#df17_2[df17_2.Stock == 'AMZN']['implied_volatility'].std()
#df19_2

15    0.2782
16    0.2471
17    0.1893
18    0.2021
19    0.2028
20    0.2014
21    0.1890
22    0.1934
23    0.1943
24    0.1932
25    0.2053
26    0.2460
27    0.2553
28    0.2887
29    0.2715
Name: implied_volatility, dtype: float64

In [135]:
df19_2[df19_2.Stock == 'AMZN']['implied_volatility']
#df19_2[df17_2.Stock == 'AMZN']['implied_volatility'].std()

15    0.2981
16    0.2905
17    0.2858
18    0.2995
19    0.3050
20    0.3298
21    0.2995
22    0.2847
23    0.4572
24    0.3172
25    0.2993
26    0.2978
27    0.2963
28    0.2990
29    0.2961
Name: implied_volatility, dtype: float64

In [115]:
df19_2

,Stock,quote_date,expiration,Exercise Price,option_type,Call Price,trade_volume,Stock Price,implied_volatility
0,AAPL,2019-02-01,2019-03-01,152.5,Call,15.80,71,166.62,0.2697
1,AAPL,2019-02-01,2019-03-01,155.0,Call,12.20,65,166.62,0.2589
2,AAPL,2019-02-01,2019-03-08,162.5,Call,7.00,80,166.62,0.2366
3,AAPL,2019-02-01,2019-03-08,165.0,Call,5.40,113,166.62,0.2319
4,AAPL,2019-02-01,2019-03-08,175.0,Call,1.50,126,166.62,0.2176
5,AAPL,2019-02-01,2019-03-22,165.0,Call,6.80,88,166.62,0.2356
6,AAPL,2019-02-01,2019-03-22,170.0,Call,3.90,155,166.62,0.2272
7,AAPL,2019-02-01,2019-06-21,165.0,Call,11.27,199,166.62,0.2546
8,AAPL,2019-02-01,2019-06-21,180.0,Call,4.94,423,166.62,0.2399
9,AAPL,2019-02-01,2019-06-21,190.0,Call,2.54,1045,166.62,0.2343
10,AAPL,2019-02-01,2019-07-19,200.0,Call,1.70,74,166.62,0.2271
11,AAPL,2019-02-01,2020-01-17,155.0,Call,23.20,108,166.62,0.2648
12,AAPL,2019-02-01,2020-01-17,170.0,Call,15.30,1096,166.62,0.2532
13,AAPL,2019-02-01,2021-06-18,290.0,Call,2.65,179,166.62,0.2351
14,AAPL,2019-02-01,2021-06-18,300.0,Call,2.15,173,166.62,0.2397
15,AMZN,2019-02-01,2019-03-15,1645.0,Call,57.35,364,1624.01,0.2981
16,AMZN,2019-02-01,2019-03-15,1710.0,Call,32.61,182,1624.01,0.2905
17,AMZN,2019-02-01,2019-03-15,1800.0,Call,12.78,580,1624.01,0.2858
18,AMZN,2019-02-01,2019-03-15,1940.0,Call,3.05,76,1624.01,0.2995
19,AMZN,2019-02-01,2019-03-15,1970.0,Call,2.40,53,1624.01,0.3050
20,AMZN,2019-02-01,2019-03-15,2070.0,Call,1.18,95,1624.01,0.3298
21,AMZN,2019-02-01,2019-04-18,1660.0,Call,76.42,95,1624.01,0.2995
22,AMZN,2019-02-01,2019-04-18,1850.0,Call,19.65,77,1624.01,0.2847
23,AMZN,2019-02-01,2019-06-21,1000.0,Call,665.24,176,1624.01,0.4572
24,AMZN,2019-02-01,2019-06-21,1620.0,Call,136.50,56,1624.01,0.3172
25,AMZN,2019-02-01,2019-06-21,1865.0,Call,46.10,96,1624.01,0.2993
26,AMZN,2019-02-01,2019-06-21,1900.0,Call,38.50,124,1624.01,0.2978
27,AMZN,2019-02-01,2019-07-19,1860.0,Call,57.70,124,1624.01,0.2963
28,AMZN,2019-02-01,2020-01-17,2000.0,Call,83.71,195,1624.01,0.2990
29,AMZN,2019-02-01,2020-01-17,2700.0,Call,11.60,226,1624.01,0.2961
30,FMC,2019-02-01,2019-03-15,70.0,Call,15.70,2,85.43,0.4000
31,FMC,2019-02-01,2019-03-15,80.0,Call,6.60,10,85.43,0.3026
32,FMC,2019-02-01,2019-03-15,82.5,Call,4.80,32,85.43,0.2919
33,FMC,2019-02-01,2019-03-15,85.0,Call,3.50,186,85.43,0.2717
34,FMC,2019-02-01,2019-03-15,87.5,Call,2.15,33,85.43,0.2628
35,FMC,2019-02-01,2019-03-15,90.0,Call,1.25,51,85.43,0.2522
36,FMC,2019-02-01,2019-04-18,80.0,Call,7.30,4,85.43,0.2860
37,FMC,2019-02-01,2019-04-18,87.5,Call,3.06,11,85.43,0.2550
38,FMC,2019-02-01,2019-04-18,90.0,Call,2.00,22,85.43,0.2451
39,FMC,2019-02-01,2019-07-19,82.5,Call,7.90,1,85.43,0.2782
40,FMC,2019-02-01,2019-07-19,85.0,Call,6.66,4,85.43,0.2675
41,FMC,2019-02-01,2019-07-19,90.0,Call,4.10,124,85.43,0.2546
42,FMC,2019-02-01,2019-07-19,95.0,Call,2.38,12,85.43,0.2443
43,FMC,2019-02-01,2019-07-19,100.0,Call,1.30,5,85.43,0.2336
44,FMC,2019-02-01,2020-01-17,80.0,Call,12.20,1,85.43,0.2872